body{
  background-color: #ccc;
}
.fomat-text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  color:white;

}
.users-cards{
  text-align: center;
}
.user-card{
  display: inline-flex;
  max-width: 540px;
  min-height: 350px;
  background-color: white;
}
.user-card-avatar{
  width: 50%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0,70% 100%, 0% 100%);
  filter: grayscale(90%);
  transition: filter 1s;
}
.user-card-avatar:hover{
  filter: grayscale(0%);
}
.user-card-info{
  margin: auto;
  margin-left: 35px;
}
.user-name{
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: black;
}
button{
  border: 2px solid #ccc;
  border-radius: 10%;
  margin: 2%;
}
button:first-child{
  background: rgb(228,241,10);
  background: linear-gradient(90deg, rgba(228,241,10,1) 0%, rgba(237,202,16,1) 0%, rgba(255,0,0,1) 31%);
}
button:last-child{
background: rgb(228,241,10);
background: linear-gradient(90deg, rgba(228,241,10,1) 0%, rgba(16,237,216,1) 0%, rgba(0,26,255,1) 31%);
}
.social-item{
  display: inline-block;
}